/* Сброс значений элементов по умолчанию */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Roboto', sans-serif;
}

.container{
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.promo{
    min-height: 800px;
    background: url('../img/bg/main.jpg') center center/cover no-repeat;
    padding: 38px 0 61px 0;
}

.logo .logo_img{
    display: block;
    margin: 0 auto;
}

.logo .logo_text{
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 9px;
    text-align: center;
}

h1{
    margin-top: 53px;
    margin-bottom: 0;
}

.title{
    color: #F9BF3B;
    text-align: center;
    font-size: 41px;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
}

.simple .title_big{
    color: #FFF;
    text-align: center;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 20px;
}

h2.title{
    margin-top: 20px;
}

.promo_descr{
    color: #FFF;
    text-align: justify;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    margin-top: 22px;
}

.promo_descr span{
    color: #F9BF3B;
    font-weight: 700;
    text-transform: uppercase;
}

.promo_btn, .intensiv_btn{
    display: block;
    margin: 0 auto;
    width: 313px;
    height: 72px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.40);
    margin-top: 72px;
    color: #FFF;
    text-align: center;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}

.promo_more{
    margin-top: 70px;
}

.promo_more .more_text{
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
    text-transform: uppercase;
}

.promo_more .more_img{
    display: block;
    margin: 0 auto;
    margin-top: 4px;
}

.waiting{
    min-height: 607px;
    background-color: #EFEFEF;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header, .finish .finish_header, .webinar .webinar_header{
    color: #252525;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

.waiting .waiting_divider, .finish .finish_divider{
    width: 220px;
    height: 7px;
    background-color: #F9BF3B;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader, .webinar .webinar_descr{
    color: #4A4A4A;
    text-align: center;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    margin-top: 18px;
}

.waiting .waiting_wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item{
    width: 342px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img{
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr{
    color: #4A4A4A;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px;
    margin-top: 26px;
}

.optimization{
    min-height: 549px;
    padding: 108px 0 47px 0;
}

.optimization .optimization_header, .webinar .webinar_subheader{
    margin-left: 391px;
    color: #299CBD;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
}

.optimization .optimization_text{
    margin-left: 391px;
    margin-top: 25px;
    color: #4A4A4A;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 27px;
}

.optimization .optimization_text span{
    font-weight: 700;
}

.optimization .optimization_img{
    position: absolute;
    top: -61px;
    left: -228px;
    z-index: -1;
}

.finish{
    min-height: 447px;
    padding: 86px 0 68px 0;
    background: url('../img/bg/down_main.jpg') center center/cover no-repeat;
}

.finish .finish_header{
    color: #EFEFEF;
}

.finish .finish_wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 39px;
}

.finish .finish_wrapper .finish_item{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 234px;
}

.finish .finish_wrapper .finish_item .finish_item_around{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 118px;
    background-color: #B4E2FF;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_item .finish_descr{
    color: #EFEFEF;
    text-align: center;
    vertical-align: top;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    margin-top: 24px;
}

.intensiv{
    min-height: 631px;
    padding: 88px 0;
    background-color: #EFEFEF;
}

.intensiv .intensiv_img{
    display: block;
    margin: 0 auto;
}

.intensiv .intensiv_descr{
    margin-top: 45px;
    color: #252525;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
}

.intensiv .intensiv_btn{
    margin-top: 51px;
}

.webinar{
    min-height: 512px;
    padding: 81px 0 52px 0;
}

.webinar .webinar_img{
    display: block;
    margin: 0 auto;
}

.webinar .webinar_header{
    margin-top: 36px;
}

.webinar .webinar_subheader{
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

.webinar .webinar_descr{
    margin-top: 24px;
}

.info{
    min-height: 169px;
    padding: 57px 0 69px 0;
    background-color: #1A1A1A;
    text-align: center;
    color: #888;
}

.info .info_support, .info .info_privacy, .info .info_tel {
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px;
    color: #888;
    text-decoration-line: underline;    
}

.info .info_tel {
    text-decoration-line: none;
}